body {
  background-color: rgba(2, 194, 79, 0.411);
}
.App {
  text-align: center;
  height: 800px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 30px;
  background-image: linear-gradient(to right, rgb(219, 109, 19), #009c2f);
  text-decoration: none;
}
.link-element,
li {
  color: rgb(145, 245, 236);
  text-decoration: none;
  list-style-type: none;
  font-weight: 600;
  
}
.link-element:hover {
  color: black;
  text-shadow: 0 0 2px #03e9f4, 0 0 5px #03e9f4, 0 0 5px #03e9f4, 0 0 10px #03e9f4;
  
}